@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;1,300&display=swap");

/*******************
  GLOBAL EDITS
*******************/
html, body {
	height: 100%;
	width: 100%;
  font-family: "Nunito", sans-serif;
  background: rgb(2, 2, 2);
}

h1 {
  text-align: center;
}


p,
h1,
h2,
h3,
li {
  color: white;
}

section {
  width: 100%;
}

@media screen and (min-width: 1200px) {
  section {
    height: 100%
  }
}

hr {
  color: purple;
}
/*******************
  LANDING PAGE
*******************/

.landing-page {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,05)), url(../Images/buildings.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: black;
  height: 100vh;
}


.dash {
  display: block;
  width: 100px;
  height: 2.3px;
  background-color: rgba(128, 0, 128, 0.61);
  margin-bottom: 3px;
}

/*******************
  SKILLS PAGE
*******************/

.skills-page {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,05)), url(../Images/darkbackground.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: black;
  overflow-x: hidden;
}
.skill-category {
  text-align: center;
  background-color: rgba(7, 7, 7, 0.849);
  margin: 10px;
  border: solid 2px purple;
}

.skill-icon {
  height: 45px;
  width: 45px;
  background-color: rgba(255, 255, 255, 0.897);
}

.skill-item {
  /* list-style-type: none; */
  margin: 0;
  padding: 0;
}

.card {
  color: white;
}

/*******************
  PROJECTS PAGE
*******************/
.projects-page {
  overflow-x: hidden;
}

.project-card {
  margin: 30px;
}

/*******************
  EXPERIENCE PAGE
*******************/

.skills-page {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,05)), url(../Images/darkbackground.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: black;
  overflow-x: hidden;
}